<nz-layout class="app-layout">
    <nz-sider
        class="menu-sidebar"
        nzCollapsible
        nzWidth="256px"
        nzBreakpoint="md"
        [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null"
    >
        <div class="sidebar-logo">
            <a routerLink="/">
                <img src="./assets/img/logo.jpg" alt="logo" />
                <h1>UniOVI-LocalizeMe</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nzMatchRouter *ngIf="isAdmin">
                <em nz-icon nzType="user" nzTheme="outline"></em>
                <a *ngIf="!isCollapsed" class="menu-item" [routerLink]="'/' + Urls.users">Users</a>
            </li>
            <li nz-menu-item nzMatchRouter *ngIf="isAdmin">
                <em nz-icon nzType="book" nzTheme="outline"></em>
                <a *ngIf="!isCollapsed" class="menu-item" [routerLink]="'/' + Urls.stages">Stages</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <em nz-icon nzType="flag" nzTheme="outline"></em>
                <a *ngIf="!isCollapsed" class="menu-item" [routerLink]="'/' + Urls.languages">Languages</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <em nz-icon nzType="bars" nzTheme="outline"></em>
                <a *ngIf="!isCollapsed" class="menu-item" routerLink="/strings">Strings</a>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <em class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></em>
                </span>
                <div class="btn-right user-buttons">
                    <div *ngIf="!isLogged">
                        <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="showLogin()">
                            <em nz-icon nzType="login" nzTheme="outline"></em>
                            Login
                        </button>
                    </div>
                    <div *ngIf="isLogged">
                        <app-user-info></app-user-info>
                        <button nz-button nzType="default" nzSize="large" nzShape="round" (click)="logout()">
                            <em nz-icon nzType="logout" nzTheme="outline"></em>
                            Logout
                        </button>
                    </div>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
