<nz-spin [nzSpinning]="isLoading" nzSize="large">
    <div class="btn-right">
        <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzShape="circle"
            [nz-tooltip]="'Reload list'"
            id="loadGroupsButton"
            (click)="loadGroups()"
        >
            <em nz-icon nzType="reload"></em>
        </button>
        <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzShape="circle"
            [nz-tooltip]="'Create a new group'"
            id="createGroupsButton"
            (click)="openModal()"
        >
            <em nz-icon nzType="file-add"></em>
        </button>
    </div>
    <nz-table
        #groupTable
        nzShowSizeChanger
        nzShowPagination
        nzShowQuickJumper
        [nzData]="groupData"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
        <thead>
            <tr>
                <th nzWidth="40px" id="dropdown-details"></th>
                <th
                    *ngFor="let column of listOfColumns"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                    [id]="column.name + '-column'"
                >
                    {{ column.name }}
                </th>
                <th id="group-list-edit-column"></th>
                <th id="group-list-disable-column"></th>
                <th id="group-list-delete-column"></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let group of groupTable.data; let i = index">
                <tr>
                    <td
                        [id]="'expanded-' + (i + 1)"
                        [nzExpand]="group.expanded"
                        (nzExpandChange)="onExpandChange(group, $event)"
                    ></td>
                    <td>{{ group.group.name }}</td>
                    <td>{{ group.group.owner.email }}</td>
                    <td>
                        <app-boolean-icon [value]="group.group.public"></app-boolean-icon>
                    </td>
                    <td>
                        <app-boolean-icon [value]="group.group.active"></app-boolean-icon>
                    </td>
                    <td>
                        <button
                            *ngIf="canEdit(group)"
                            nzTooltipTitle="Update"
                            nz-button
                            nz-tooltip="Update group"
                            nzType="primary"
                            nzShape="circle"
                            (click)="openModal(group)"
                        >
                            <em nz-icon nzType="edit"></em>
                        </button>
                    </td>
                    <td>
                        <button
                            *ngIf="canEdit(group)"
                            [nzTooltipTitle]="group.active ? 'Disable' : 'Enable'"
                            nz-button
                            nz-tooltip="Disable group"
                            nzType="default"
                            nzShape="circle"
                            (click)="disable(group)"
                        >
                            <em *ngIf="group.active" nz-icon nzType="disconnect"></em>
                            <em *ngIf="!group.active" nz-icon nzType="to-top"></em>
                        </button>
                    </td>
                    <td>
                        <button
                            *ngIf="canDelete(group)"
                            nzTooltipTitle="Delete"
                            nz-button
                            nz-tooltip="Delete group"
                            nzType="default"
                            nzDanger
                            nzShape="circle"
                            (click)="showDeleteModal(group)"
                        >
                            <em nz-icon nzType="delete"></em>
                        </button>
                    </td>
                </tr>
                <tr [nzExpand]="group.expanded">
                    <app-group-permission-table [permissions]="group.group.permissions"></app-group-permission-table>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</nz-spin>
