<nz-spin [nzSpinning]="isLoading" nzSize="large">
    <h3>Users:</h3>
    <input
        placeholder="Select the users you want to give permission to"
        nz-input
        (click)="searchUserByEmail(undefined)"
        (input)="searchUserByEmail($event)"
        [(ngModel)]="inputValue"
        [nzAutocomplete]="autoCompleteUsers"
        id="autoCompleteUsersInput"
    />
    <nz-autocomplete
        [nzDataSource]="options"
        nzBackfill
        #autoCompleteUsers
        (selectionChange)="add($event.nzValue)"
    ></nz-autocomplete>
    <nz-table
        #permissionsTable
        [nzPageSize]="5"
        nzShowPagination
        nzShowQuickJumper
        [nzData]="selectedPermissions"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
        <thead>
            <tr>
                <th
                    *ngFor="let column of listOfColumns"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                    [id]="column.name + '-column'"
                >
                    {{ column.name }}
                </th>
                <th id="user-list-delete-column"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let permission of permissionsTable.data">
                <td>{{ permission.user.email }}</td>
                <td>
                    <label
                        nz-checkbox
                        [ngModel]="permission.canWrite"
                        (nzCheckedChange)="updateCanWrite(permission)"
                    ></label>
                </td>
                <td>
                    <button
                        nzTooltipTitle="Delete"
                        nz-button
                        nz-tooltip="Delete user"
                        nzType="default"
                        nzDanger
                        nzShape="circle"
                        (click)="delete(permission)"
                    >
                        <em nz-icon nzType="delete"></em>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>
