<header class="modal-header-material">
    <h1 mat-dialog-title>Update user</h1>
</header>
<form [formGroup]="formGroup" class="login-form" (ngSubmit)="send()">
    <nz-form-item>
        <nz-form-label nzRequired nzFor="email" nzSpan="7">E-mail</nz-form-label>
        <nz-form-control [nzErrorTip]="errorEmail" nzSpan="17">
            <nz-input-group nzPrefixIcon="user">
                <input nz-input formControlName="email" id="email" />
            </nz-input-group>
        </nz-form-control>
        <ng-template #errorEmail let-control>
            <ng-container *ngIf="control.hasError('required')">Please input your email</ng-container>
            <ng-container *ngIf="control.hasError('email')">No valid email</ng-container>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired nzFor="changePassword" nzSpan="7">Change Password?</nz-form-label>
        <nz-form-control nzSpan="17">
            <nz-radio-group formControlName="changePassword">
                <label nz-radio [nzValue]="true">Yes</label>
                <label nz-radio [nzValue]="false">No</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="wantToChangePassword()">
        <nz-form-label nzFor="password" nzRequired nzSpan="7">Password</nz-form-label>
        <nz-form-control nzErrorTip="Please input your password" nzSpan="17">
            <nz-input-group nzPrefixIcon="lock">
                <input nz-input type="password" id="password" formControlName="password" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="wantToChangePassword()">
        <nz-form-label nzFor="checkPassword" nzRequired nzSpan="7">Confirm Password</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTpl" nzSpan="17">
            <nz-input-group nzPrefixIcon="lock">
                <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
            </nz-input-group>
            <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                    Two passwords that you enter is inconsistent!
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="data.isAdmin">
        <nz-form-label nzFor="isAdmin" nzSpan="7">Is an Admin?</nz-form-label>
        <nz-form-control nzSpan="17">
            <label nz-checkbox formControlName="isAdmin"></label>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="data.isAdmin">
        <nz-form-label nzFor="isActive" nzSpan="7">Active</nz-form-label>
        <nz-form-control nzSpan="17">
            <label nz-checkbox formControlName="isActive"></label>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area btn-right">
        <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
            [disabled]="!formGroup.valid || isLoading"
        >
            <span *ngIf="!isLoading">Update</span>
            <span *ngIf="isLoading">
                <em nz-icon nzType="loading"></em>
                Loading
            </span>
        </button>
    </nz-form-item>
</form>
