<h3>Groups:</h3>
<nz-select
    nzPlaceHolder="Select a group"
    nzAllowClear
    nzShowSearch
    nzServerSearch
    [(ngModel)]="selectedText"
    (nzOnSearch)="searchGroupByName($event)"
    (ngModelChange)="add()"
>
    <nz-option [nzLabel]="selectedText" [nzValue]="selectedText" nzHide></nz-option>
    <ng-container *ngFor="let option of options">
        <nz-option *ngIf="!isLoading" [nzValue]="option" [nzLabel]="option"></nz-option>
    </ng-container>
    <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
        <em nz-icon nzType="loading" class="loading-icon"></em>
        Loading Data...
    </nz-option>
</nz-select>
