<header class="modal-header-material">
    <h1 mat-dialog-title>Register</h1>
</header>
<form [formGroup]="formGroup" class="login-form" (ngSubmit)="send()">
    <nz-form-item>
        <nz-form-label nzRequired nzFor="email" nzSpan="7">E-mail</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="errorEmail" nzSpan="17">
            <nz-input-group nzPrefixIcon="user">
                <input nz-input formControlName="email" id="registerEmail" />
            </nz-input-group>
        </nz-form-control>
        <ng-template #errorEmail let-control>
            <ng-container *ngIf="control.hasError('required')">Please input your email</ng-container>
            <ng-container *ngIf="control.hasError('email')">No valid email</ng-container>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="password" nzRequired nzSpan="7">Password</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input your password" nzSpan="17">
            <nz-input-group nzPrefixIcon="lock">
                <input nz-input type="password" id="registerPassword" formControlName="password" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="checkPassword" nzRequired nzSpan="7">Confirm Password</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl" nzSpan="17">
            <nz-input-group nzPrefixIcon="lock">
                <input nz-input type="password" formControlName="checkPassword" id="registerCheckPassword" />
            </nz-input-group>
            <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                    Two passwords that you enter is inconsistent!
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        [disabled]="!formGroup.valid"
        id="registerEnter"
    >
        <span *ngIf="!isLoading">Register in</span>
        <span *ngIf="isLoading">
            <em nz-icon nzType="loading"></em>
            Loading
        </span>
    </button>
    Or
    <a (click)="openRegister()">login now!</a>
</form>
