<header class="modal-header-material">
    <h1 mat-dialog-title>{{ titleModal }}</h1>
</header>
<form [formGroup]="formGroup" (ngSubmit)="send()">
    <nz-form-item>
        <nz-form-label nzRequired nzFor="isoCode" nzSpan="7">Iso Code</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="errorIsoCode" nzSpan="17">
            <nz-input-group nzPrefixIcon="book">
                <input nz-input formControlName="isoCode" id="isoCode" />
            </nz-input-group>
        </nz-form-control>
        <ng-template #errorIsoCode let-control>
            <ng-container *ngIf="control.hasError('required')">Please input a Iso Code</ng-container>
        </ng-template>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="isoCode" nzSpan="7">Description</nz-form-label>
        <nz-form-control [nzErrorTip]="errorIsoCode" nzSpan="17">
            <nz-input-group>
                <textarea rows="4" nz-input formControlName="description"></textarea>
            </nz-input-group>
        </nz-form-control>
        <ng-template #errorIsoCode let-control>
            <ng-container *ngIf="control.hasError('required')">Please input a isoCode</ng-container>
        </ng-template>
    </nz-form-item>
    <nz-form-item *ngIf="language.id">
        <nz-form-label nzFor="active" nzRequired nzSpan="7">Active</nz-form-label>
        <nz-form-control nzSpan="17">
            <label nz-checkbox formControlName="active"></label>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area btn-right">
        <button nz-button [nzType]="'primary'" [disabled]="!formGroup.valid || isLoading">
            <span *ngIf="!isLoading">{{ btnModal }}</span>
            <span *ngIf="isLoading">
                <em nz-icon nzType="loading"></em>
                Loading
            </span>
        </button>
    </nz-form-item>
</form>
