<h3>{{ title }}:</h3>
<div>
    <nz-select
        id="select"
        nzPlaceHolder="Select a language"
        nzAllowClear
        nzShowSearch
        nzServerSearch
        [(ngModel)]="selectedText"
        (nzOnSearch)="searchGroupByName($event)"
        (ngModelChange)="add()"
        (change)="(add)"
    >
        <nz-option [nzLabel]="getName(selectLanguage)" [nzValue]="getName(selectLanguage)" nzHide></nz-option>
        <ng-container *ngFor="let option of options">
            <nz-option *ngIf="!isLoading" [nzValue]="option" [nzLabel]="option"></nz-option>
        </ng-container>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <em nz-icon nzType="loading" class="loading-icon"></em>
            Loading Data...
        </nz-option>
    </nz-select>
</div>
<mat-error *ngIf="!valid">Please enter a language</mat-error>
