<nz-spin [nzSpinning]="isLoading" nzSize="large">
    <section>
        <nz-input-group id="search" nzSearch [nzSuffix]="suffixIconSearch">
            <input
                type="text"
                nz-input
                placeholder="Search..."
                [(ngModel)]="filterText"
                (ngModelChange)="filterStrings($event)"
            />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <em nz-icon nzType="search"></em>
        </ng-template>
        <div class="btn-right">
            <button
                nz-button
                nzType="primary"
                nzSize="large"
                nzShape="circle"
                [nz-tooltip]="'Read a Xliff file'"
                (click)="openReadModal()"
                id="readXliffButton"
            >
                <em nz-icon nzType="file"></em>
            </button>
            <button
                nz-button
                nzType="primary"
                nzSize="large"
                nzShape="circle"
                [nz-tooltip]="'Create a Xliff file'"
                (click)="openCreateModal()"
                id="createXliffButton"
            >
                <em nz-icon nzType="export"></em>
            </button>
            <button
                nz-button
                nzType="primary"
                nzSize="large"
                nzShape="circle"
                [nz-tooltip]="'Reload list'"
                (click)="loadBaseStrings()"
                id="loadBaseStringsButton"
            >
                <em nz-icon nzType="reload"></em>
            </button>
            <button
                nz-button
                nzType="primary"
                nzSize="large"
                nzShape="circle"
                [nz-tooltip]="'Create a new string'"
                (click)="openModal()"
                id="createBaseStringsButton"
            >
                <em nz-icon nzType="file-add"></em>
            </button>
        </div>
    </section>
    <nz-table
        #baseStringTable
        nzShowSizeChanger
        nzShowPagination
        nzShowQuickJumper
        [nzData]="baseStrings"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
        <thead>
            <tr>
                <th nzWidth="40px" id="dropdown-details"></th>
                <th
                    *ngFor="let column of listOfColumns"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                    [id]="column.name + '-column'"
                >
                    {{ column.name }}
                </th>
                <th id="group-list-edit-column"></th>
                <th id="group-list-disable-column"></th>
                <th id="group-list-delete-column"></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let baseStringData of baseStringTable.data; let i = index">
                <tr>
                    <td
                        [id]="'expanded-' + (i + 1)"
                        [nzExpand]="baseStringData.expanded"
                        (nzExpandChange)="onExpandChange(baseStringData, $event)"
                    ></td>
                    <td>{{ baseStringData.baseString.identifier }}</td>
                    <td>{{ baseStringData.baseString.sourceLanguage?.isoCode }}</td>
                    <td>{{ baseStringData.baseString.group?.name }}</td>
                    <td>{{ baseStringData.baseString.page }}</td>
                    <td>{{ baseStringData.baseString.author?.email }}</td>
                    <td>
                        <app-boolean-icon [value]="baseStringData.baseString.active"></app-boolean-icon>
                    </td>
                    <td>
                        <button
                            *ngIf="canEdit(baseStringData)"
                            nzTooltipTitle="Update"
                            nz-button
                            nz-tooltip="Update stage"
                            nzType="primary"
                            nzShape="circle"
                            (click)="openModal(baseStringData)"
                        >
                            <em nz-icon nzType="edit"></em>
                        </button>
                    </td>
                    <td>
                        <button
                            *ngIf="canEdit(baseStringData)"
                            [nzTooltipTitle]="baseStringData.baseString.active ? 'Disable' : 'Enable'"
                            nz-button
                            nz-tooltip="Disable baseString"
                            nzType="default"
                            nzShape="circle"
                            (click)="disable(baseStringData)"
                        >
                            <em *ngIf="baseStringData.baseString.active" nz-icon nzType="disconnect"></em>
                            <em *ngIf="!baseStringData.baseString.active" nz-icon nzType="to-top"></em>
                        </button>
                    </td>
                    <td>
                        <button
                            *ngIf="canDelete(baseStringData)"
                            nzTooltipTitle="Delete"
                            nz-button
                            nz-tooltip="Delete baseString"
                            nzType="default"
                            nzDanger
                            nzShape="circle"
                            (click)="showDeleteModal(baseStringData)"
                        >
                            <em nz-icon nzType="delete"></em>
                        </button>
                    </td>
                </tr>
                <tr [nzExpand]="baseStringData.expanded">
                    <app-base-string-translation-table
                        [translations]="baseStringData.baseString.translations"
                    ></app-base-string-translation-table>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</nz-spin>
