<nz-spin [nzSpinning]="isLoading" nzSize="large">
    <div class="btn-right">
        <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzShape="circle"
            [nz-tooltip]="'Reload list'"
            (click)="loadBaseStrings()"
        >
            <em nz-icon nzType="reload"></em>
        </button>
        <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzShape="circle"
            [nz-tooltip]="'Create a new string'"
            (click)="openModal()"
        >
            <em nz-icon nzType="file-add"></em>
        </button>
    </div>
</nz-spin>
