<app-loading *ngIf="loadingArtist || loadingLocalizeMe"></app-loading>

<div class="row animated fadeIn" *ngIf="!loadingArtist && !loadingLocalizeMe">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle" alt=""/>
    </div>

    <div class="col">
        <h3>{{ artist.name }}</h3>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank">
                <app-localize-me [setIdentifier]="'artist-page'"></app-localize-me>
            </a>
        </p>
    </div>

    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">
            <app-localize-me [setIdentifier]="'back'"></app-localize-me>
        </button>
    </div>
</div>

<div class="row m-5" *ngIf="!loadingArtist && !loadingLocalizeMe">
    <div class="col">
        <table class="table">
            <thead>
            <tr>
                <th>
                    <app-localize-me [setIdentifier]="'photo'"></app-localize-me>
                </th>
                <th>
                    <app-localize-me [setIdentifier]="'album'"></app-localize-me>
                </th>
                    <th>
                        <app-localize-me [setIdentifier]="'song'"></app-localize-me>
                    </th>
                    <th>
                        <app-localize-me [setIdentifier]="'preview'"></app-localize-me>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <img [src]="track.album.images | noimage" class="img-thumb" />
                    </td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <td>
                        <!-- <audio [src]="track.preview_url" controls></audio> -->
                        <iframe
                            [src]="track.uri | domseguro"
                            width="300"
                            height="80"
                            frameborder="0"
                            allowtransparency="true"
                            allow="encrypted-media"
                        ></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
